<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.dao.MovieMapper">

    <insert id="insert" parameterType="com.summer.pojo.Movie" useGeneratedKeys="true" keyProperty="id">
        insert into movie (name,add_time) values (#{name},#{addTime})
    </insert>

</mapper>